conda.enabled = true
dag.overwrite = true
report.overwrite = true
timeline.overwrite = true

process {
    // NEB cluster options
    executor = 'sge'
    penv     = 'smp'
    clusterOptions = { "-V -S /bin/bash -R y -l ram=${task.memory ? task.memory.toGiga() : task.cpus*7}G" }

    withLabel: high_cpu {
        cpus   = 16
        memory = '64 GB'
    }

    withLabel: medium_cpu {
        cpus   = 2
        memory = '15 GB'
    }
}
params {
    path_to_ngs_agg = "/mnt/bioinfo/prg/ngs-aggregate_results/current/"
}
