/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    email                     = 'undefined'
    flowcell                  = 'undefined'
    ubam_dir                  = '.' 
    project                   = 'project_undefined'
    workflow                  = 'EM-seq'
    outputDir                 = "em-seq_output" 
    tmp_dir                   = '/tmp'
    min_mapq                  = 20 // for methylation assessment.
    max_input_reads           = "all_reads" // default is not downsampling , set to a number to downsample e.g. 1000000 is 500k read pairs
    downsample_seed           = 42
    enable_neb_agg            = 'False'

    // NEB only
    path_to_ngs_agg           = "/mnt/bioinfo/prg/ngs-aggregate_results/releases/"
    revision                  = '20250317200805'

}

includeConfig 'conf/base.config'
includeConfig 'conf/references.config'

profiles {
    debug {
        dumpHashes             = true
        process.beforeScript   = 'echo $HOSTNAME'
        cleanup                = false
    }
    conda {
        conda.enabled          = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
    mamba {
        conda.cacheDir         = '/mnt/home/seq-shepherd/.conda/envs'
        conda.enabled          = true
        conda.useMamba         = true
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
        apptainer.enabled      = false
    }
   
    test { 
        includeConfig 'conf/test.config'
        conda.enabled          = true
        conda.useMicromamba    = false
        conda.cacheDir         = "${projectDir}/.conda/envs"
    }
}

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

executor {
    name = 'sge'
    queueSize = 10000
    jobName = { "${task.process.tokenize(':')[-1]}" }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outputDir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outputDir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outputDir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outputDir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}