params {
    adapters {
        'Illumina' {
            fasta = "${projectDir}/assets/illumina_adapters.fa"
        }
        'Element' {
            fasta = "${projectDir}/assets/element_adapters.fa"
        }
        'MGI' {
            fasta = "${projectDir}/assets/mgi_adapters.fa"
        }
        'Nextera-mosaic' {
            fasta = "${projectDir}/assets/nextera_mosaic_adapters.fa"
        }
        'test' {
            fasta = "${projectDir}/assets/illumina_adapters.fa"
        }
    }
}
