conda.enabled = true
nextflow.enable.moduleBinaries = true


process {
    cpus   = 1
    memory = { params.max_memory ?: "${task.cpus*7}G" }
    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }

    maxRetries    = 1
    maxErrors     = '-1'

    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus   = 1                  
    }

    withLabel: cpus_8 {
        cpus   = { params.max_cpus ?: 8 }
        memory = { params.max_memory ?: 64.GB }
        errorStrategy = 'retry'
    }

    withLabel: low_cpu {
        cpus   = 2
        memory = { params.max_memory ?: 16.GB }
    }

    withLabel: high_cpu {
	    cpus = { params.max_cpus ?: 10 }
	    memory = { params.max_memory ?: 64.GB }
    }

    withLabel: medium_cpu {
        cpus = { params.max_cpus ?: 4 }
        memory = { params.max_memory ?: 8.GB }
    }

    executor = 'local' // 'sge'. 'slurm', etc... 
    
   
}