params {
    genomes = [
        'T2T_chm13v2.0+bs_controls': [
            bwa_index: "/mnt/galaxy/galaxyworks/tool-data/T2T_chm13v2.0+bs_controls/bwameth_index/T2T_chm13v2.0+bs_controls/T2T_chm13v2.0+bs_controls.fa",
            genome_fa: "/mnt/galaxy/galaxyworks/tool-data/T2T_chm13v2.0+bs_controls/bwameth_index/T2T_chm13v2.0+bs_controls/T2T_chm13v2.0+bs_controls.fa",
        ],
        'grcm39+meth_controls': [
            bwa_index: "/mnt/galaxy/data/genome/grcm39+meth_controls/bwameth_index/grcm39+meth_controls/grcm39+meth_controls.fa",
            genome_fa: "/mnt/galaxy/data/genome/grcm39+meth_controls/bwameth_index/grcm39+meth_controls/grcm39+meth_controls.fa",
        ],
        't2t_2.0_eschColi_K12_bs_controls': [
            bwa_index: "/mnt/galaxy/galaxyworks/tool-data/t2t_2.0_eschColi_K12_bs_controls/bwameth_index/t2t_2.0_eschColi_K12_bs_controls/t2t_2.0_eschColi_K12_bs_controls.fa",
            genome_fa: "/mnt/galaxy/galaxyworks/tool-data/t2t_2.0_eschColi_K12_bs_controls/bwameth_index/t2t_2.0_eschColi_K12_bs_controls/t2t_2.0_eschColi_K12_bs_controls.fa",
        ],
        'test': [
            bwa_index: "${projectDir}/tests/fixtures/reference_files/reference.fa",
            genome_fa: "${projectDir}/tests/fixtures/reference_files/reference.fa",
            target_bed: "${projectDir}/tests/fixtures/target_bed/emseq_test_regions.bed"
        ]
    ]
}