params {
    genomes = [
        'T2T_chm13v2.0+bs_controls': [
            bwa_index: "/mnt/galaxy/galaxyworks/tool-data/T2T_chm13v2.0+bs_controls/bwameth_index/T2T_chm13v2.0+bs_controls/T2T_chm13v2.0+bs_controls.fa",
            genome_fa: "/mnt/galaxy/galaxyworks/tool-data/T2T_chm13v2.0+bs_controls/bwameth_index/T2T_chm13v2.0+bs_controls/T2T_chm13v2.0+bs_controls.fa",
            genome_fai: "/mnt/galaxy/galaxyworks/tool-data/T2T_chm13v2.0+bs_controls/bwameth_index/T2T_chm13v2.0+bs_controls/T2T_chm13v2.0+bs_controls.fa.fai",
            target_bed: "/bioinfo/ref/t2t_chm13_v2+meth_controls+m13+phix/folded_windows/T2T_chm13v2.0+meth_controls_hairpins.s18w200nogt.bed",
            ucsc_cpg_islands_url: "https://hgdownload.soe.ucsc.edu/gbdb/hs1/bbi/cpgIslandExt.bb",  // bigBed format
            refseq_gtf_url: "https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Homo_sapiens/annotation_releases/GCF_009914755.1-RS_2023_10/GCF_009914755.1_T2T-CHM13v2.0_genomic.gff.gz",
            ncbi_assembly_report_url: "https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Homo_sapiens/annotation_releases/GCF_009914755.1-RS_2023_10/GCF_009914755.1_T2T-CHM13v2.0_assembly_report.txt",
            dfam_url: "https://www.dfam.org/releases/annotations_exports/hs1_df39/hs1_df39-byacc-full_region.tsv",
            epd_promoters_url: "https://epd.expasy.org/ftp/epdnew/H_sapiens/current/Hs_EPDnew.bed",
            epd_liftover_url: "https://s3-us-west-2.amazonaws.com/human-pangenomics/T2T/CHM13/assemblies/chain/v1_nflo/grch38-chm13v2.chain" //GRCh38 version, no hs1 available
        ],
        'grch38_core+bs_controls': [
            bwa_index: "/mnt/galaxy/data/genome/grch38_core+bs_controls/bwameth_index/grch38_core+bs_controls/grch38_core+bs_controls.fa",
            genome_fa: "/mnt/galaxy/data/genome/grch38_core+bs_controls/sam_indexes/grch38_core+bs_controls/grch38_core+bs_controls.fa",
            genome_fai: "/mnt/galaxy/data/genome/grch38_core+bs_controls/sam_indexes/grch38_core+bs_controls/grch38_core+bs_controls.fa.fai",
            ucsc_cpg_islands_url: "https://hgdownload.soe.ucsc.edu/goldenPath/hg38/database/cpgIslandExt.txt.gz",
            refseq_gtf_url: "https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Homo_sapiens/latest_assembly_versions/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_genomic.gff.gz",
            ncbi_assembly_report_url: "https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Homo_sapiens/latest_assembly_versions/GCF_000001405.40_GRCh38.p14/GCF_000001405.40_GRCh38.p14_assembly_report.txt",
            dfam_url: "https://www.dfam.org/releases/annotations_exports/hg38_df39/hg38_df39-byacc-full_region.tsv",
            epd_promoters_url: "https://epd.expasy.org/ftp/epdnew/H_sapiens/current/Hs_EPDnew.bed",
            epd_liftover_url: null
        ],
        'grcm39+meth_controls': [
            bwa_index: "/mnt/galaxy/data/genome/grcm39+meth_controls/bwameth_index/grcm39+meth_controls/grcm39+meth_controls.fa",
            genome_fa: "/mnt/galaxy/data/genome/grcm39+meth_controls/bwameth_index/grcm39+meth_controls/grcm39+meth_controls.fa",
            genome_fai: "/mnt/galaxy/data/genome/grcm39+meth_controls/bwameth_index/grcm39+meth_controls/grcm39+meth_controls.fa.fai",
            ucsc_cpg_islands_url: "https://hgdownload.soe.ucsc.edu/goldenPath/mm39/database/cpgIslandExt.txt.gz",
            refseq_gtf_url: "https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Mus_musculus/latest_assembly_versions/GCF_000001635.27_GRCm39/GCF_000001635.27_GRCm39_genomic.gff.gz",
            ncbi_assembly_report_url: "https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Mus_musculus/latest_assembly_versions/GCF_000001635.27_GRCm39/GCF_000001635.27_GRCm39_assembly_report.txt",
            dfam_url: null,
            epd_promoters_url: "ftp://ccg.epfl.ch/epdnew/M_musculus/006/Mm_EPDnew_006_mm39.bed",
            epd_liftover_url: null
        ],
        't2t_2.0_eschColi_K12_bs_controls': [
            bwa_index: "/mnt/galaxy/galaxyworks/tool-data/t2t_2.0_eschColi_K12_bs_controls/bwameth_index/t2t_2.0_eschColi_K12_bs_controls/t2t_2.0_eschColi_K12_bs_controls.fa",
            genome_fa: "/mnt/galaxy/galaxyworks/tool-data/t2t_2.0_eschColi_K12_bs_controls/bwameth_index/t2t_2.0_eschColi_K12_bs_controls/t2t_2.0_eschColi_K12_bs_controls.fa",
            genome_fai: "/mnt/galaxy/galaxyworks/tool-data/t2t_2.0_eschColi_K12_bs_controls/bwameth_index/t2t_2.0_eschColi_K12_bs_controls/t2t_2.0_eschColi_K12_bs_controls.fa.fai",
            ucsc_cpg_islands_url: "https://hgdownload.soe.ucsc.edu/gbdb/hs1/bbi/cpgIslandExt.bb",
            refseq_gtf_url: "https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Homo_sapiens/annotation_releases/GCF_009914755.1-RS_2023_10/GCF_009914755.1_T2T-CHM13v2.0_genomic.gff.gz",
            ncbi_assembly_report_url: "https://ftp.ncbi.nlm.nih.gov/genomes/refseq/vertebrate_mammalian/Homo_sapiens/annotation_releases/GCF_009914755.1-RS_2023_10/GCF_009914755.1_T2T-CHM13v2.0_assembly_report.txt",
            dfam_url: "https://www.dfam.org/releases/annotations_exports/hs1_df39/hs1_df39-byacc-full_region.tsv",
            epd_promoters_url: "https://epd.expasy.org/ftp/epdnew/H_sapiens/current/Hs_EPDnew.bed",
            epd_liftover_url: "https://s3-us-west-2.amazonaws.com/human-pangenomics/T2T/CHM13/assemblies/chain/v1_nflo/grch38-chm13v2.chain", //GRCh38 version, no hs1 available
        ],
        'test': [
            bwa_index: "${projectDir}/tests/fixtures/reference_files/reference.fa",
            genome_fa: "${projectDir}/tests/fixtures/reference_files/reference.fa",
            genome_fai: "${projectDir}/tests/fixtures/reference_files/reference.fa.fai",
            target_bed: "${projectDir}/tests/fixtures/target_bed/emseq_test_regions.bed",
            ucsc_cpg_islands_url: "file://${projectDir}/tests/fixtures/features/test_cpgIslandExt.bb",
            refseq_gtf_url: "file://${projectDir}/tests/fixtures/features/test_refseq.gff.gz",
            ncbi_assembly_report_url: "file://${projectDir}/tests/fixtures/features/test_assembly_report.txt",
            dfam_url: "file://${projectDir}/tests/fixtures/features/test_dfam.out",
            epd_promoters_url: "file://${projectDir}/tests/fixtures/features/epd_promoters.bed",
            epd_liftover_url: "file://${projectDir}/tests/fixtures/features/grch38-chm13v2.chain"
        ]
    ]
}
