/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    WORKFLOW VERSIONS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    workflows = [
        'EM-seq': [entry_script: 'main.nf', version: '1.0.0', label: 'EM-seq'],
    ]
}

if (params.containsKey('workflow') && params.workflows.containsKey(params.workflow)) {
    params.workflow_version = params.workflows[params.workflow].version
    params.workflow_label = params.workflows[params.workflow].label
}
