name: test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
        - master

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        NXF_VER: ["25.04.2"]
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install micromamba
        uses: mamba-org/setup-micromamba@v1
        with:
          environment-name: nextflow.emseq
          create-args: -c conda-forge -c bioconda nextflow=${{ matrix.NXF_VER }} samtools

          nextflow=23.10.0 samtools=1.19
          channels: |
            - conda-forge
            - bioconda

      - name: Run test script
        run: |
          sudo apt-get update
          sudo apt-get install -y libxml2-utils
          bash run_test.sh

